table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.team-logo {
  height: 50px;
  object-fit: contain;
}

td {
    text-align: center;
}

th {
    text-align: center;
}
