<div class="dashboard-container">
  <h2>Games Dashboard</h2>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Active Team</th>
        <th>Oposing Team</th>
        <th>Platform</th>
        <th>Odds</th>
        <th>Bet</th>
        <th>Prize</th>
        <th>Won?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.date | date:'dd/MM/yyyy' }}</td>

        <td>
          <img [src]="'assets/' + (getTeamById(game.activeTeam).logo) + '.png'"
            [alt]="getTeamById(game.activeTeam).name" class="team-logo">
          {{ getTeamById(game.activeTeam).name }}
        </td>

        <td>
          <img [src]="'assets/' + (getTeamById(game.oposingTeam).logo) + '.png'"
            [alt]="getTeamById(game.oposingTeam).name" class="team-logo">
          {{ getTeamById(game.oposingTeam).name }}
        </td>

        <td>{{ game.platform }}</td>
        <td>{{ game.odds }}</td>
        <td>{{ game.bet }}</td>
        <td>{{ ((game.odds * game.bet) - game.bet) | number:'1.2-2' }}</td>
        <td>
          <button class="tri-state-button" [ngClass]="{
                  'not-set': game.result === 'FUTURE',
                  'won': game.result === 'WIN',
                  'lose': game.result === 'LOSE'
                }" (click)="cycleState(game)">
            {{ game.result === 'FUTURE' ? 'Not Set' : (game.result === 'WIN' ? 'Won' : 'Lose') }}
          </button>
        </td>
         <td>
          <button class="save-button" (click)="saveGame(game)">Save</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>